<div class="container">
	<h1>{{ this.title }}</h1>

	<div class="row">
		<div class="col-md-12">
			<p>A web app that lets users leave sticky notes on the latest news.</p>
			<button type="button" id="scrape-button" class="btn btn-default">View Articles</button>
		</div>
	</div>
	<div class="articles">
	</div>
</div><!-- ./container -->